body {
  font-family: 'JetBrains Mono', Courier New, monospace;
  font-size: 62.5%;
  background-color: white;
  min-height: 100%;
  margin: 0;
  padding: 0 !important;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 0;
}

h1 a,
h1 a:visited {
  color: black;
}

h2 {
  padding: 0;
  margin: 0 0 1em 0;
}

h3 {

}

a.link-prev {
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}

a.link-post {
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

#container {
  font-size: 1.7em;
  max-width: 600px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.day {
  border-bottom: 1px solid silver;
  margin-bottom: 1.5em;
}

.status {
  padding: 0 0 1em 0;
  text-align: justify;
  margin: 0;
}

.status p {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0 0 1.5em 0;
}

.status code {
  font-family: 'JetBrains Mono', Courier New, monospace;
  color: #005500;
}

.status p:last-child {
  margin-bottom: 0;
}

.status .summary {
  margin: 0 0 1em 0;
  padding: 0.75em;
  border: 1px solid silver;
}

.status .summary:before {
  content: "◤";
  font-size: 1.5em;
  color: silver;
  margin: 0;
  padding: 0;
  line-height: 0;
  float: left;
  position: relative;
  top: -0.18em;
  left: -0.6em;
}

#footer {
  font-size: 1.6em;
  flex: 0 0 50px;
  width: 100%;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

#copyright {
  padding: 10px;
}

.dots {
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 1.5em;
}

ul li,
ol li {
  margin-bottom: 1.5em;
}

div.tags {
  margin: 0 0 2em 0;
  padding: 0 1em;
}

span.tag {
  font-size: 0.9em;
  display: inline-block;
  background-color: #ccc;
  height: 1em;
  line-height: 1em;
  padding: 0.3em 0.8em;
  border-radius: 0.7em;
}

div.nav {
  text-align: center;
  margin-bottom: 3em;
}

.footnotes {
  margin-top: 2em;
}

.footnotes sup {
  font-size: 1em;
  display: inline-block;
  float: left;
  line-height: 1.5em;
}

.footnote-body {
  margin-left: 2em;
}

.footnotes .footnote-definition {
  margin-top: 1em;
}

#TableOfContents {
  font-size: 0.9em;
  margin-bottom: 1em;
}

#TableOfContents:before {
  content: "Jump to: ";
}

#TableOfContents ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

#TableOfContents ul li {
  display: inline;
}

#TableOfContents ul li:after {
  content: ",";
}

#TableOfContents ul li:last-child:after {
  content: "";
}
