:root {
  // Light (default)
  --light-bg: #efefef;
  --light-primary: black;
  --light-inverse: #efefef;
  --light-accent: #222;

  // IBM (green)
  --ibm-bg: #222222;
  --ibm-primary: #11cc11;
  --ibm-inverse: #11cc11;
  --ibm-accent: #115511;

  // VAX (orange)
  --vax-bg: #222222;
  --vax-primary: #E39C22;
  --vax-inverse: #E39C22;
  --vax-accent: #785212;

  // Default
  --theme-bg: var(--light-bg);
  --theme-primary: var(--light-primary);
  --theme-inverse: var(--light-inverse);
  --theme-accent: var(--light-accent);
}

#theme-light:checked ~ #content {
  --theme-bg: var(--light-bg);
  --theme-primary: var(--light-primary);
  --theme-inverse: var(--light-inverse);
  --theme-accent: var(--light-accent);
}

#theme-ibm:checked ~ #content {
  --theme-bg: var(--ibm-bg);
  --theme-primary: var(--ibm-primary);
  --theme-inverse: var(--ibm-inverse);
  --theme-accent: var(--ibm-accent);
}

#theme-vax:checked ~ #content {
  --theme-bg: var(--vax-bg);
  --theme-primary: var(--vax-primary);
  --theme-inverse: var(--vax-inverse);
  --theme-accent: var(--vax-accent);
}

body {
  background-color: #ccc;
  font-family: 'JetBrains Mono', Courier New, monospace;
  font-size: 62.5%;
  min-height: 100%;
  margin: 0;
  padding: 0 !important;
}

.theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  //display: inline-block;
  //background-color: #444;
  //font-size: 1.3em;
  //cursor: pointer;
  //margin: 0.5em 0 0.5em 0.5em;
  //padding: 0.5em;
  //color: white;
}

#content {
  background-color: var(--theme-bg);
  color: var(--theme-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;

  a {
    color: var(--theme-primary);
  }
}

#container {
  font-size: 1.6em;
  max-width: 600px;
  margin: 0 auto;
  flex: 1 0 auto;

  @media(max-width: 630px) {
    margin: 0 2em;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0;

  overflow: hidden;
  white-space: nowrap;

  a, a:visited {
    span {
      &:before {
        content: "";
        animation: typing 1.5s linear 1s 1 normal forwards;
      }
    }

    text-decoration: none;
    color: var(--theme-primary);

    &:before {
      content: ">";
    }

    &:after {
      animation: cursor 1.2s linear infinite;
      content: "_";
    }
  }
}

@keyframes typing {
  7.14%  { content: "A"; }
  14.29% { content: "AA"; }
  21.43% { content: "AAR"; }
  28.57% { content: "AARO"; }
  35.71% { content: "AARON"; }
  42.86% { content: "AARON'"; }
  50%    { content: "AARON'S"; }
  57.14% { content: "AARON'S "; }
  64.29% { content: "AARON'S S"; }
  71.43% { content: "AARON'S ST"; }
  78.57% { content: "AARON'S STA"; }
  85.71% { content: "AARON'S STAT"; }
  92.86% { content: "AARON'S STATU"; }
  100%   { content: "AARON'S STATUS"; }
}

@keyframes cursor {
  0% {
    opacity: 100;
  }
  40% {
    opacity: 100;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

h2 {
  padding: 0;
  margin: 0 0 1em 0;
}

a.link-prev {
  font-size: 1em;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}

a.link-post {
}

.day {
  //border-bottom: 1px solid silver;
  margin-bottom: 1.5em;

  .status {
    padding-bottom: 0;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.status {
  padding: 0 0 1em 0;
  text-align: justify;
  margin: 0;

  p {
    line-height: 1.5em;
    margin: 0 0 1.5em 0;
  }

  >p:last-child {
    margin-bottom: 3em;
  }

  code {
    font-family: 'JetBrains Mono', Courier New, monospace;
    color: #005500;
  }

  .summary {
    h3 {
      margin: 0 0 1em -2.75em;

      &:before {
        color: var(--theme-inverse);
        background-color: var(--theme-accent);
        font-size: 1em;
        content: ">_";
        padding: 0.3em 0.3em 0.6em 0.3em;
        border-radius: 1em;
        width: 1.3em;
        height: 1em;
        display: inline-block;
        margin-right: 0.75em;
      }
    }

    p {
      margin-bottom: 0;
    }

    div.tags {
      margin-top: 1em;
    }

    margin: 0 0 3em 0;
    padding: 0.75em;
    padding-left: 4em;
    border-color: var(--theme-accent);
    border-width: 2px 6px 6px 2px;
    border-style: solid double double solid;
  }
}

#footer {
  font-size: 1.6em;
  flex: 0 0 50px;
  width: 100%;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

#copyright {
  padding: 10px;
}

.dots {
  height: 1em;
  text-align: center;
  margin-bottom: 1.5em;
  margin: 2em 0;
  overflow: hidden;
}

ul li,
ol li {
  margin-bottom: 1.5em;
}

div.tags {
  margin-bottom: 0.5em;
}

ul.tags {
  width: 1000px;
  li {
    list-style-type: none;
  }
}

a.tag {
  border: 1px solid var(--theme-accent);
  color: var(--theme-primary);
  text-decoration: none;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 4px;

  &:hover {
    //border-color: black;
  }
}

div.nav, div.theme {
  margin-top: 1em;
  margin-bottom: 3em;

  a {
    color: var(--theme-primary);
    text-decoration: none;
    border: 1px solid var(--theme-accent);
    border-radius: 4px;
    padding: 2px 5px;

    &:hover {
      //border-color: black;
    }
  }
}

div.theme {
  float: right;

  a.selected {
    border-width: 3px;
  }
}

.footnotes {
  margin-top: 2em;

  sup {
    font-size: 1em;
    display: inline-block;
    float: left;
    line-height: 1.5em;
  }

  .footnote-definition {
    margin-top: 1em;
  }
}

.footnote-body {
  margin-left: 2em;
}


#TableOfContents, #timeList {
  font-size: 0.9em;
  margin-bottom: 1em;

  &:before {
    content: "Jump to: ";
  }

  ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &:after {
        content: ",";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}
