body {
  font-family: 'JetBrains Mono', Courier New, monospace;
  font-size: 62.5%;
  background-color: white;
  min-height: 100%;
  margin: 0;
  padding: 0 !important;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0;

  a, a:visited {
    text-decoration: none;
    color: black;

    &:before {
      content: ">"
    }
  }
}

h2 {
  padding: 0;
  margin: 0 0 1em 0;
}

a.link-prev {
  font-size: 1em;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
}

a.link-post {
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

#container {
  font-size: 1.7em;
  max-width: 600px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.day {
  border-bottom: 1px solid silver;
  margin-bottom: 1.5em;
}

.status {
  padding: 0 0 1em 0;
  text-align: justify;
  margin: 0;

  p {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 0 1.5em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  code {
    font-family: 'JetBrains Mono', Courier New, monospace;
    color: #005500;
  }

  .summary {
    margin: 0 0 1em 0;
    padding: 0.75em;
    border: 1px solid silver;

    &:before {
      content: "◤";
      font-size: 1.5em;
      color: silver;
      margin: 0;
      padding: 0;
      line-height: 0;
      float: left;
      position: relative;
      top: -0.18em;
      left: -0.6em;
    }
  }
}

#footer {
  font-size: 1.6em;
  flex: 0 0 50px;
  width: 100%;
  align-self: flex-end;
  margin: 0;
  padding: 0;
}

#copyright {
  padding: 10px;
}

.dots {
  text-align: center;
  letter-spacing: 1em;
  margin-bottom: 1.5em;
}

ul li,
ol li {
  margin-bottom: 1.5em;
  font-size: 0.9em;
}

div.tags {
  margin: 0 0 2em 0;
  padding: 0.5em;
  border: 1px solid #eee;
  border-radius: 1.5em;
}

ul.tags {
  li {
    list-style-type: none;
  }
}

a.tag {
  border: 1px solid #eee;
  color: black;
  text-decoration: none;
  display: inline-block;
  background-color: #eee;
  height: 1em;
  line-height: 1em;
  padding: 0.4em 0.8em;
  border-radius: 0.8em;

  &:hover {
    border-color: black;
  }
}

div.nav {
  margin-top: 1em;
  margin-bottom: 3em;

  a {
    color: black;
    text-decoration: none;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 2px 5px;

    &:hover {
      border-color: black;
    }
  }
}

.footnotes {
  margin-top: 2em;

  sup {
    font-size: 1em;
    display: inline-block;
    float: left;
    line-height: 1.5em;
  }

  .footnote-definition {
    margin-top: 1em;
  }
}

.footnote-body {
  margin-left: 2em;
}


#TableOfContents, #timeList {
  font-size: 0.9em;
  margin-bottom: 1em;

  &:before {
    content: "Jump to: ";
  }

  ul {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline;

      &:after {
        content: ",";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}
