{{ range .RegularPages.GroupByDate ":date_full" }}
  <div class="day">

    {{ $first_page := index .Pages 0 }}

    <h3>
      <a class="link-post" href="{{ $first_page.Permalink }}">{{ .Key }}</a>
    </h3>

    {{ range .Pages }}
      <h4>{{ .Date | time.Format ":time_short" }}</h4>
      <div class="status">
        <p>{{ .Summary }}</p>
      </div>
    {{ end }}

    <div class="dots">&mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash;</div>

  </div>
{{ end }}
